<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Results</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/29e5db4ce1.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="../css/search_result.css" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/login" class="brand-logo" id="logo"><img src="../logo/Logo.jpeg" width="80" /></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/">Employer Sign In</a></li>
                <li><a href="/">Industry Data</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/">Employer Sign In</a></li>
        <li><a href="/">Industry Data</a></li>
    </ul>

    <div class="container" style="width: 100%">
        <div class="row" style="margin: 0px;">
            <div class="col s12 m3 purple lighten-5 flex" id="searchCol">
                <div class="row center searchRow">
                    <h5>New Search</h5>
                </div>
                <form>
                    <div class="row searchRow">
                        <div class="input-field col s12">
                            <input id="keywordSearch" type="search" class="validate">
                            <label for="keywordSearch">Keyword (Required)</label>
                        </div>
                    </div>
                    <div class="row searchRow">
                        <div class="input-field col s12">
                            <input id="companySearch" type="search" class="validate">
                            <label for="companySearch">Company Name</label>
                        </div>
                    </div>
                    <div class="row searchRow">
                        <div class="input-field col s12">
                            <select id="industrySearch">
                                <option value="" disabled selected>Choose your option</option>
                                {{#each industry_list_data}}
                                <option value="{{Industry}}">{{Industry}}</option>
                                {{/each}}
                            </select>
                            <label>Industry</label>
                        </div>
                    </div>
                    <div class="row searchRow">
                        <div class="input-field col s12">
                            <select id="citySearch">
                                <option value="" disabled selected>Choose your option</option>
                                {{#each city_data}}
                                <option value="{{city}}">{{city}}</option>
                                {{/each}}
                            </select>
                            <label>City</label>
                        </div>
                    </div>
                    <div class="row center">
                        <button class="btn-small waves-effect waves-purple purple" id="searchBtn" type="submit"
                            name="action">Search
                            <i class="material-icons right">search</i>
                        </button>
                    </div>
                </form>
            </div>

            <!-- Main Post -->
            {{#if isResultFound}}
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s4 center" style="padding: 0px">
                        <img src="{{mainPost.Employer.dataValues.logo_path}}" style="padding-top: 20px;" />
                    </div>
                    <div class="col s8" style="padding: 0px">
                        <h4>Title: {{mainPost.dataValues.title}}</h4>
                        <p>Publish date: {{mainPost.dataValues.createdAt}}</p>
                        <p>Company name: {{mainPost.Employer.dataValues.company}}</p>
                        <p>City: {{mainPost.dataValues.city}}</p>
                    </div>
                </div>
                <div id="details">
                    <div class="row">
                        <p>Description and details</p>
                        {{#each mainPostDescripton}}
                        <p>{{{this}}}</p>
                        {{/each}}
                    </div>
                    <div class="row">
                        <p>Email: {{mainPost.dataValues.contactEmail}}</p>
                        <p>Phone: {{mainPost.dataValues.contactNumber}}</p>
                    </div>
                </div>
                <form class="mx-10 md:mx-0" action="/api/apply" method="post"
                    enctype="multipart/form-data">
                    <div class="row center">
                        
                        <div class="col s12 input-field detailRow">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="fullName" name="fullName" type="text" class="validate" required />
                            <label for="fullName">Full Name</label>
                        </div>

                        <div class="col s12 detailRow">
                            <div class="file-field input-field">
                                <div class="btn-small waves-effect waves-purple purple">
                                    <i class="material-icons right">file_upload</i><span>Resume</span>
                                    <input type="file" name="resume" required />
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" name="filePath" required>
                                </div>
                            </div>
                        </div>

                        <div style="display:none" class="col s12 input-field detailRow">
                            <i class="material-icons prefix">account_circle</i>
                            <input name="postID" value="{{mainPost.dataValues.id}}" type="text" class="validate" required />
                        </div>

                        <div class="col s12 detailRow">
                            <button 
                                class="btn waves-effect waves-purple purple" name="action" type="submit">Apply</button>
                        </div>

                    </div>
                </form>

            </div>
            {{else}}
            <div class="container">
                <div class="row">
                    <div class="col" style="margin-left: 20px">
                        <h1>Sorry</h1>
                        <h1>No Match Found</h1>
                    </div>
                </div>
            </div>
            {{/if}}

            <!-- Main Post -->

            <div class="col s12 m3" id="resultCol">
                <div class="row center">
                    <p>Search results: <strong>{{numberOfResult}}</strong> found</p>
                    {{!-- <p>Page <span id="currentPage"></span> of <span id="totalPages"></span></p>
                    <a class="waves-effect waves-purple btn-small purple" id="prevP"><i
                            class="material-icons">keyboard_arrow_left</i></a>
                    <a class="waves-effect waves-purple btn-small purple" id="nextP"><i
                            class="material-icons">keyboard_arrow_right</i></a> --}}
                </div>
                <!-- Remaining Data -->
                {{#each data}}
                <div class="row">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>Title: {{this.dataValues.title}} </p>
                                <p>Company: {{this.dataValues.Employer.dataValues.company}}</p>
                                <p>{{this.dataValues.city}}</p>
                            </div>
                            <div class="card-action">
                                <a data-postID="{{this.dataValues.id}}" class="nextPost">Go to the post</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <footer class="page-footer" style="background-color: rgb(167, 39, 192)">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h5 class="white-text center">Follow us @</h5>
                        <div class="row center">
                            <div class="col s3"></div>
                            <div class="col s6">
                                <div class="col s4"><i class="fab fa-linkedin icon"></i></div>
                                <div class="col s4"><i class="fab fa-facebook-square icon"></i></div>
                                <div class="col s4"><i class="fab fa-twitter-square icon"></i></div>
                            </div>
                            <div class="col s3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright" style="background-color: rgb(140, 4, 168)">
                <div class="container">
                    Copyright © 2020 Joboost - Privacy and Terms. All rights reserved.
                </div>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script type="text/javascript" src="../js/search_result.js"></script>
</body>